name: CD Pipeline 2

on:
    workflow_dispatch:
        inputs:
            version_type:
                type: choice
                description: "The type of version to deploy"
                required: true
                default: "patch"
                options:
                    - patch
                    - minor
                    - major

jobs:
    install:
        permissions:
            id-token: write
            contents: read
            attestations: write

        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Install dependencies
              run: npm ci
            - name: Export artifact
              uses: actions/upload-artifact@v4
              with:
                name: cicd-artifact
                path: node_modules
    
    lint:
        runs-on: ubuntu-latest
        needs: install
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                name: cicd-artifact
                path: node_modules

            - name: Run lint
              run: npm run lint

    test:
        runs-on: ubuntu-latest
        needs: install
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                name: cicd-artifact
                path: node_modules

            - name: Run test
              run: npm run test
    
    release:
        runs-on: ubuntu-latest
        needs: [lint, test]
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 22

            - name: Configure Git
              run: |
                git config --global user.name "GitHub Actions"
                git config --global user.email "github-actions@github.com"

            - name: Bump version
              id: version
              run: |
                NEW_VERSION=$(npm version ${{ inputs.version_type }})
                echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

            - name: Push changes
              run: |
                git push origin HEAD
                git push origin --tags

            - name: Create release
              env:
                GH_TOKEN: ${{ github.token }}
              run: |
                gh release create ${{ steps.version.outputs.new_version }} --generate-notes